---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import "../styles/global.css";
import "../styles/reset.css";
import { Icon } from "astro-icon/components";

const { employee } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[employee.img])
  throw new Error(
    `"${employee.img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="card">
  <div class="picture">
    <Image src={images[employee.img]()} alt={employee.name} />
    <div class="position">
      <a href="#">{employee.title}</a>
    </div>
  </div>
  <h2>{employee.name}</h2>
  <p>{employee.description}</p>
  <div class="icons">
    <Icon name="instagram" />
    <Icon name="facebook" />
    <Icon name="twitter" />
  </div>
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr auto auto auto;
    width: 200px;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    object-fit: cover;
    width: 100%;

    .picture {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-column: 1/-1;
      position: relative;
    }
    .position {
      grid-area: 1 / 1;
      justify-self: end;
      align-self: end;
      background-color: var(--primary-03-black);
      padding: 5px 10px;
      border-radius: 1.5rem;
      margin: 15px 15px;
      color: var(--secondary-02-white);

      p {
        color: var(--secondary-02-white);
      }
    }
    h2 {
      font-size: var(--size--1);
      font-weight: bold;
      text-align: center;
    }
    p {
      font-size: var(--size--2);
      text-align: center;
      color: var(--secondary-03-grey);
    }

    a {
      text-decoration: none;
      color: var(--secondary-02-white);
      a:hover {
        background-color: var(--primary-01-yellow);
        color: var(--primary-03-black);
        text-decoration: none;
      }
      a:link,
      a:visited,
      a:focus,
      a:active {
        background-color: var(--primary-03-black);
        color: var(--secondary-02-white);
        text-decoration: none;
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      width: 40%;
      gap: 20px;
      justify-content: center;
    }
  }

  .picture img {
    width: 100%;
    border-radius: 10px;
    grid-area: 1 / 1;
  }
</style>
